.footer {
  background-color: #e0f5dd;
  color: #004F49;
  bottom: 0;
  position: absolute;
  display: block;
  width: 100vw;
  min-width: 620px;
  height: 52px;
}

.navItems {
  padding: 1rem;
  margin: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}

.navItem:last-child {
  position: fixed;
  right: 0;
}
