.footer {
  background-color: #e0f5dd;
  color: #004F49;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.navItems {
  margin: 1rem;
  padding: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}

.navItem:last-child {
  position: fixed;
  right: 0;
}
