.header {
  height: 12vh;
}

.logo {
  position: fixed;
  height: 12vh;
  width: 20%;
  max-width: 200px;
  object-fit: contain;
}

.nav {
  background-color: #e0f5dd;
  width: 100vw;
  display: flex;
  min-height: 4rem;
}

.navItemsContainer {
  top: 0;
  margin: 0 0 0 min(20%, 200px);
  width: calc(100vw - min(20%, 200px) - min(30%, 450px));
  display: flex;
}

.navItems {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
  padding-bottom:13px;
  position:relative;
}

.activeNavItem {
  display: inline-block;
  margin-right: 1rem;
  padding-bottom:13px;
  position:relative;
}

.activeNavItem:after {
  content:'';
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  right:0;
  background: #004F49;
  opacity: 50%;
  height:6px;
  width: 0;
  animation-name: underline;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 1s;
  border-radius: 10px;
}

@keyframes underline {
  from {width: 6px;}
  to {width: 100%;}
}

.navLink {
  color: #004F49;
  text-decoration: none;
  text-transform: uppercase;
}

.navIcon {
  color: #004F49;
  display: none;
  width: 23px;
  height: 23px;
  padding: 5px;
}

/* Set min-height to avoid page reflow while session loading */
.signedInStatus {
  width: 30%;
  max-width: 450px;
  display: inline-block;
  color: #004F49;
  height: 64px;
}

.loading,
.loaded {
  position: relative;
  top: 0;
  opacity: 1;
  overflow: hidden;
  padding: 0.6rem 1rem;
  margin: 0;
  background-color: #d8e5ed;
  /*transition: all 0.2s ease-in;*/
}

.loading {
  top: -2rem;
  opacity: 0;
}

.signedInText,
.notSignedInText {
  position: absolute;
  padding-top: 0.8rem;
  left: 1rem;
  right: 6.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  z-index: 1;
  line-height: 1.3rem;
}

.signedInText {
  padding-top: 0;
  left: 4.6rem;
}

.avatar {
  border-radius: 2rem;
  margin: auto;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.button,
.buttonPrimary {
  float: right;
  margin-right: -0.4rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0.7rem 0.8rem;
  position: relative;
  z-index: 10;
  background-color: transparent;
  color: #555;
}

.buttonPrimary {
  background-color: #004F49;
  border-color: #004F49;
  color: #fff;
  border-radius: 0.2rem;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
}

.buttonPrimary:hover {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
}

.signOutIcon {
  display: none;
  width: 1.3rem;
  height: 1.3rem;
}

@media (max-width: 900px) {
  .signedInText,
  .notSignedInText {
    display: none;
  }
  .signedInStatus {
    width: 145px;
  }
  .navItemsContainer {
    width: calc(100vw - min(20%, 200px) - 145px);
  }
  .navIcon {
    display: block;
  }
  .navLink {
    display: none;
  }
  .signOutText {
    display: none;
  }
  .signOutIcon {
    display: block;
  }
}
