.main {
  width: calc(100vw - 203px);
  margin-left: 203px;
}

.sideLabelContainer {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 203px;
  height: 203px;
}

.sideLabel {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  font-size: 9rem;
  opacity: 20%;
  padding-left: 20px;
}

/* When smaller than 1000px, hide the side label */
@media (max-width: 1100px) {
  .sideLabelContainer {
    display: none;
  }
  .main {
    width: 100vw;
    margin-left: 0;
  }
}