.main {
  width: 100vw;
  height: calc(100vh - 49px - 52px);
  text-align: center;
  display: flex;
  align-items: center;
}

.table thead tr {
  background-color: #004F49;
  width: 100vw;
  position: fixed;
  top: 49px;
  left: 0;
  color: #004F49;
  text-align: left;
}