.footer {
  background-color: #d9e5ec;
  color: #004f49;
  bottom: 0;
  position: absolute;
  width: 100vw;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.version {
  margin: 3px 6px 3px 3px;
}
